*{margin:0;  padding:0;}
/*自定义的一些字体*/
@font-face {
    font-family: "ChantelliAntiquaRegular";
    src: url("Chantelli_Antiqua-webfont.eot");
    src: local("☺"), url("Chantelli_Antiqua-webfont.woff") format("woff"), url("Chantelli_Antiqua-webfont.ttf") format("truetype"), url("Chantelli_Antiqua-webfont.svg#webfontZjhIjbDc") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ChantelliAntiquaRegular";
    src: url("Chantelli_Antiqua-webfont.eot");
}

@font-face {
    font-family: "ChantelliAntiquaRegular";
    src: url(//:) format("no404"), url("Chantelli_Antiqua-webfont.woff") format("woff"), url("Chantelli_Antiqua-webfont.ttf") format("truetype"), url("Chantelli_Antiqua-webfont.svg#webfontMFqI76bT") format("svg");
    font-weight: normal;
    font-style: normal;
}
/*a标签重置*/
a:hover{text-decoration:none; color:navajowhite}
a:link , a:hover , a:active , a:visited{text-decoration:none;}
a{text-decoration:none; color:white}

.background {
    background-color:black;
}
.show{
    width:1000px;
    height:400px;
    border:1px solid white;
    color:white;
    text-align:center;
    margin:0 auto;
    margin-top:20px;
}





